[Unit]
Description=Node.js Voice Microservice
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/aetrna-music/voice-server
ExecStart=/usr/bin/node server.js
EnvironmentFile=-/opt/aetrna-music/prod/.env
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
